@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-bottom: 50px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  font-weight: 300;
  letter-spacing: .04em;
}

.innerContainer {
  margin: 0 auto;
  max-width: 1248px;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
}

.commonTitle {
  font-size: 28px;
  font-weight: 400;
  color: #00112c;
}

@media (min-width: 1024px) {
  .commonTitle {
    font-size: 32px;
  }
}